@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  user-select: none;
  padding: 0;
  box-sizing: border-box;
}
:root {
}

body {
}
.red-border {
  border: 1px solid red;
}
img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.task-bar {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@layer components {
  /* main */
  .task-view-container {
    @apply flex flex-col w-full items-center h-full;
  }
  section {
    @apply pt-4 pb-24;
  }
}
